@keyframes scale {
  from {
    font-size: $font-size;
  }
  to {
    font-size: $font-size * 2;
  }
}

@keyframes colorRotate {
  $color: #ff0;
  0% {
    color: adjust-hue($color, 0);
    font-size: $font-size;
  }
  25% {
    color: adjust-hue($color, 90);
  }
  50% {
    color: adjust-hue($color, 180);
    font-size: $font-size * 2;
  }
  75% {
    color: adjust-hue($color, 270);
  }
}

@keyframes shake {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(-10px);
  }
}
